<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">About Us</h3>
  </div>
  <div class="panel-body">
   <p> Welcome!</p> 
   <p>Youth Sports Online Signups was created to meet the needs of youth football organizations within the TYFA community. As a former head coach, and board member of an organization within TYFA, I saw the need for a cost effective solution to making the sign up process easier and available 24 hours a day. This will also allow you to easily track and access all info regarding each child, even a copy of his/her birth certificate.  </p>
   <p>I thank you, and I hope that you have a great season!</p>
   <p>Sincerely,<br />
      ~Coach Tommy
   </p>


  </div>
</div>