<div class="page-header text-center">
  <h1> Name of current team selected</h1>
  <div class="row">
    <div class="col-sm-3">
      <img src="images/tyfa.png" class="img-thumbnail">
    </div>
    <div class="col-sm-6">
      <h2 class="text-center"> {{ date | date: "yyyy"}} Football and Cheerleading Registration Form </h2>
      <!-- add checkboxes for cheer football -->
      <label>
        <input type="checkbox" style="font-size: 1.5em;">  Football 
      </label>
      <label>
        <input type="checkbox" >  Cheerleading
      </label>

    </div>
  </div>
</div>

<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
  </div>
  
</form>