<div class="page-header text-center"> 
  
  <div class="row">
    <div class="col-sm-3">
      <img src="images/tyfa.png" class="img-thumbnail">
    </div>
    <div class="col-sm-6">
      <h2 class="text-center">  YOU ARE REGISTERED FOR {{ date | date: "yyyy"}} !</h2>
          </div>
    <div class="col-sm-3">
      <!-- inject current team here--><h1> {{ yourTeam }} </h1>
    </div>
  </div>
</div>




<!--Begins main form -->
<div>
         <p>{{ profiles.sport }} </p>
         <p>{{profiles.childsName}}</p>
         <p>{{ profiles.dateOfBirth }}</p>
         <p>{{ profiles.ageOnJuly31 }}</p>
         <p>{{ profiles.playerStreetAddress }}</p>
         <p>{{ profiles.playerCity }}</p>
         <p>{{ profiles.zipCode }}</p>
         <p>{{ profiles.gender }}</p>
         <p>{{ profiles.primaryPhone }}</p>
         <p>{{ profiles.cellPhone }}</p>
         <p>{{ profiles.emergencyPhone }}</p>
         <p>{{ profiles.parentsEmail }}</p>
         <p>{{ profiles.experience }}</p>
         <p>{{ profiles.yearsOfExperience }}</p>
         <p>{{ profiles.schoolAttending }}</p>
         <p>{{ profiles.gradeForFall }}</p>
         <p>{{ profiles.lastTeamPlayedFor }}</p>
         <p>{{ profiles.livesWith }}</p>
         <p>{{ profiles.mothersName }}</p>
         <p>{{ profiles.mothersAddress }}</p>
         <p>{{ profiles.mothersCity }}</p>
         <p>{{ profiles.mothersState }}</p>
         <p>{{ profiles.mothersZipCode }}</p>
         <p>{{ profiles.mothersPhone }}</p>
         <p>{{ profiles.fathersName }}</p>
         <p>{{ profiles.fathersAddress }}</p>
         <p>{{ profiles.fathersCity }}</p>
         <p>{{ profiles.fathersState }}</p>
         <p>{{ profiles.fathersZipCode }}</p>
         <p>{{ profiles.fathersPhone }}</p>
         <p>{{ profiles.guardiansName }}</p>
         <p>{{ profiles.guardiansAddress }}</p>
         <p>{{ profiles.guardiansCity }}</p>
         <p>{{ profiles.guardiansState }}</p>
         <p>{{ profiles.guardiansZipCode }}</p>
         <p>{{ profiles.guardiansPhone }}</p>
         <p>{{ profiles.medicalAllergies }}</p>
         <p>{{ profiles.medicationCurrentlyTaken }}</p>
         <p>{{ profiles.agree }}</p>
 </div>
 
       
         


 