<div class="page-header text-center"> 
  
  <div class="row">
    <div class="col-sm-3">
      <img src="images/tyfa.png" class="img-thumbnail">
    </div>
    <div class="col-sm-6">
      <h2 class="text-center">  YOU ARE REGISTERED FOR {{ date | date: "yyyy"}} !</h2>
          </div>
    <div class="col-sm-3">
      <!-- inject current team here--><h1> Your Team :) </h1>
    </div>
  </div>
</div>
<!--Begins main form -->


  <table class="table">
    <thead>
      <th> your profile<th>
      
    </thead>
     <tbody>
      <tr> 
        
        <td> {{registration.sport}} </td>
        <td> {{registration.childsName}} </td>
        <td> {{registration.dateOfBirth}} </td>
        <td> {{registration.ageOnJuly31}} </td>
        <td> {{registration.playerStreetAddress}} </td>
        <td> {{registration.playerCity}} </td>
        <td> {{registration.zipCode}} </td>
        <td> {{registration.gender}} </td>
        <td> {{registration.primaryPhone}} </td>
        <td> {{registration.cellPhone}} </td>
        <td> {{registration.emergencyPhone}} </td>
        <td> {{registration.parentsEmail}} </td>
        <td> {{registration.experience}} </td>
        <td> {{registration.yearsOfExperience}} </td>
        <td> {{registration.schoolAttending}} </td>
        <td> {{registration.gradeForFall}} </td>
        <td> {{registration.lastTeamPlayedFor}} </td>
        <td> {{registration.livesWith}} </td>
        <td> {{registration.mothersName}} </td>
        <td> {{registration.mothersAddress}} </td>
        <td> {{registration.mothersCity}} </td>
        <td> {{registration.mothersState}} </td>
        <td> {{registration.mothersZipCode}} </td>
        <td> {{registration.mothersPhone}} </td>
        <td> {{registration.fathersName}} </td>
        <td> {{registration.fathersAddress}} </td>
        <td> {{registration.fathersCity}} </td>
        <td> {{registration.fathersState}} </td>
        <td> {{registration.fathersZipCode}} </td>
        <td> {{registration.fathersPhone}} </td>
        <td> {{registration.guardians}} </td>
        <td> {{registration.guardiansName}} </td>
        <td> {{registration.guardiansAddress}} </td>
        <td> {{registration.guardiansCity}} </td>
        <td> {{registration.guardiansState}} </td>
        <td> {{registration.guardiansZipCode}} </td>
        <td> {{registration.guardiansPhone}} </td>
        <td> {{registration.medicalAllergies}} </td>
        <td> {{registration.medicationCurrentlyTaken}} </td>
        <td> {{registration.agree}} </td>
       <!--  <td>
          <button ng-click='editProfile()' ng-show='registration'>Edit</button>
        </td>
        <td>
          <button ng-click='deleteProfile()' ng-show='registration'>Remove</button>
        </td>
 -->      </tr>
  </tbody>
    
  </table>
