.form-control {
  width: 75%;
  margin:5px auto;
    height: 40px;
}

/* style the placeholder in inputs */
::-webkit-input-placeholder {
 font-size: 10px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/
 font-size:10px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 10px;
 color: #d0cdfa; 
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
} 
:-ms-input-placeholder { 
 font-size: 10px; 
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}

/*** gender buttons sizing***/
#genderFemale{
  width: 200px;
}
#genderMale{
  width: 200px;
}
#ageonJuly31 {
  height: 40px;
}
#phoneNumberInput {
  height: 50px; 
}

.waiverBox {
  width: 80%;
  border: 2px solid;
  margin-top: 30px;
}
#agreeToTerms {
  width: 80%;
  margin: 0 auto;
}

/*footer*/
.footerCopy {
  margin:10px;
}

 